[tool.poetry]
name = "dynaddrmgr"
description = "Tools to manage actions based on dynamic host address changes."
version = "0.5.1"
license = "MIT"

authors = [
  "Quien Sabe <qs5779@mail.com>",
]

readme = "README.md"

repository = "https://github.com/wtfo-guru/dynaddrmgr"

keywords = []

classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
]

[tool.poetry.scripts]
dyntmplmgr = "dynaddrmgr.dyntmpls:main"
dynfwrules = "dynaddrmgr.dynrules:main"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
click = "^8.1.0"
nslookup = "^1.7.0"
wtforglib = ">= 0.8.2"
jinja2 = "^3.1.2"

[tool.poetry.group.test.dependencies]
mypy = "^1.3.0"
wemake-python-styleguide = "^0.18"
flake8-pytest-style = "^1.6"
doc8 = "^1.0"
nitpick = ">=0.32,<0.34"
safety = "^2.3"
pytest = "^7.3"
pytest-cov = "^4.0"
pytest-randomly = "^3.12"
testfixtures = "^7.1.0"
black = "^23.3.0"
isort = { version = "<5.12.0", python = "<3.8" }
requests-cache = ">=0.9,<1.1"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = ">=5.2,<8.0"
sphinx-autodoc-typehints = "^1.23"
m2r2 = "^0.3"
tomli = "^2.0"


[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"
